/*HEADER/PIC/NAME*/
.container {
  position: relative;
  text-align: center;
  font-family: helvetica;
  font-size: 90px;
  color: rgb(255, 255, 255,.9);
  font-weight: bolder;
}
.centered p {
  font-size: 27pt;
}
.centered {
  position:absolute;
  top: 40%;
  left: 40%;
  left: 40%;
  width: 100%;
  transform: translate(-40%,-40%);
  text-align: center;
}

h1 {
  font-size: 35pt;
  font-family: helvetica;
  width:auto;
  color: rgb(255, 255, 255,.8);
  text-align: center;
  line-height: 35pt;
}

.sidebar {
  font-family: helvetica;
  float:left;
  width: 30%;
  line-height: 20pt;
  background-image: url(file:///Users/carolinecerussi/Desktop/buildings.jpg);
  background-size:cover;
  margin-right: 10pt;
}

.sidebar ol {
  color: rgb(255, 97, 12,0.8);
  font-size: 20pt;
  padding: 5pt;
  text-align: center;
}

.skills ul {
  text-align: center;
  font-size: 18pt;
}

.projects p {
  font-family:Helvetica;
  font-weight: 200;
  font-size: 17pt;
  color: white;
  margin-right: 15pt;
  line-height: 20pt;
}
.skills {
  color:white;
  font-size: 17pt;
  text-align: left;
  line-height: 20t;
  margin-right: 15pt;
}

a {
  color:rgb(251, 96, 57,0.7);
  font-weight: bold;
  font-size: 18pt;
  margin-right: 10pt;
  line-height: 20pt;
}
.column {
  text-align: center;
  float:left;
  width: 65%;
  line-height: 20pt;
  background-color: rgba(165, 123, 33, 0.5);
  margin-left: 5pt;
}
.column p {
  font-family:Helvetica;
  font-weight: 200;
  font-size: 19pt;
  color: white;
  padding: 10px;
  line-height: 20pt;
  text-align: center;
}  


body {
  background-image:url(file:///Users/carolinecerussi/Desktop/Portfolio/IMG/-HJ_Fu5RvOpFSUGDXhHwdy3tVzcw0xujFfjMloE91po.jpg);
  background-size: cover;
}