
.banner-container {
  background-image: url("/img/fruitAI.png");
  background-size: cover;
  position:top;
  text-align: center;
  font-family: 'helvetica';
  font-size: 70pt;
  color: rgb(255, 255, 255);

}
.skills-container {
  float:left;
  width: 35%;
  background-color: rgba(223, 122, 105, 0.634);
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  text-align: center;
  margin: 5pt;

}

body {
  background-image: url(/img/paint.png);
  background-size: contain;
  font-family:'Spot Mono';
  margin: 1%;
}
a{
  color:rgb(255, 255, 255);
  font-family:'Spot Mono';
  text-underline-offset: 30%;
}

h1 {
  text-align: center;
  font-family:'Spot Mono';
  color: rgb(255, 255, 255);
  font-size: 30pt;

}

.left-column {
  float:left;
  width: 35%;
  background-color: rgba(144, 165, 24, 0.634);
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  text-align: center;
  padding: 10pt;
  margin: 5pt;
}



ol {
  color: rgb(255, 255, 255);
  font-size: 10pt;
}

.column-right {
  box-sizing: border-box;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 2pt;
  padding: 20pt;
  float:right;
  width: 60%;
  text-align: left;
  line-height: 30pt;
  background-color: rgba(25, 147, 151, 0.557);
  font-family:'Spot Mono';
  margin: 5pt;


}

#questions {
  font-size: 20pt;
  
}

.skills-container {
  box-sizing: border-box;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 2pt;
  padding: 10pt;
  margin-top: 2%;
  float:left;
  width: 35%;
  text-align:left;
  line-height: 20pt;
  background-color: rgba(227, 140, 53, 0.557);

}  

#menu-button {
  background-color: transparent;
  border: none;
  font-size: 20pt;
  text-transform: uppercase;
  color: white;
}

footer {
  text-align: center;
  color: white;
  text-transform: uppercase;
}