/*HEADER/PIC/NAME*/
.container {
  position: relative;
  text-align: center;
  font-family: helvetica;
  font-size: 100pt;
  color: rgba(255, 255, 255,.9);
  font-weight: bolder;
}


body {
  background-image: url(/IMG/clouds.jpg);
}
.centered p {
  font-size: 27pt;
}
.centered {
  position:absolute;
  top: 40%;
  left: 40%;
  left: 40%;
  width: 100%;
  transform: translate(-40%,-40%);
  text-align: center;
}

h1 {

  text-align: center;
  font-family:monospace;
  color: rgb(255, 255, 255,.8);
  margin-block: 20pt;
  font-size:45pt;
  margin-top: 30px;

}

#banner {
  opacity: 95%;
}

.sidebar {

  float:left;
  width: 25%;
  background-color: rgba(39, 142, 142, 0.634);
  box-sizing: border-box;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(130, 230, 185, 0.6);
  text-align: center;
  font-weight: 400;
  margin-left: 20pt;
}


a { 
  font-size: 20pt;
  font-weight: 800;
  color: rgb(173, 225, 255);
  text-align:center;
  width: 100%;
  font-family:sans-serif;

}

ol {
  font-family:courier;
  color: rgb(255, 255, 255);
  font-size: 14pt;
  box-sizing: border-box;
  padding: 30pt;
  line-height: 25pt;
}

ul {
  font-size: 14pt;
  line-height: 25pt;
  color: white;
  box-sizing: border-box;
  padding: 30pt;
}

.column {
  box-sizing: border-box;
  border-style: solid;
  border-color: rgba(247, 234, 51, 0.74);
  border-width: 10pt;
  padding: 10pt;
  margin-left: 20pt;
  float:left;
  width: 70%;
  line-height: 30pt;
  background-color: rgba(200, 132, 36, 0.641);
}

#questions {
  font-size: 20pt;
  
}

.column p {
  font-size: 16pt;
  font-weight: 400;
  font-family: sans-serif;
  box-sizing: border-box;
  padding-inline: 10px;
  text-align: center;
  background-color: rgba(213, 149, 39, 0.165);
  line-height: 25pt;
}  
